html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", Arial;
    background: #f6f8ff;
}

.button {
    --background: #275efe;
    --background-hover: #1d4fe1;
    --text: #fff;
    --icon: #fff;
    display: flex;
    outline: none;
    cursor: pointer;
    border: 0;
    padding: 9px 20px 9px 12px;
    border-radius: 11px;
    line-height: 24px;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    color: var(--text);
    background: var(--b, var(--background));
    transition: transform 0.3s, background 0.4s;
    transform: scale(var(--scale, 1)) translateZ(0);
}

.button:active {
    --scale: 0.95;
}

.button:hover {
    --b: var(--background-hover);
}

.button .icon,
.button .text {
    display: inline-block;
    vertical-align: top;
    transform: translateZ(0);
}

.button .icon {
    width: 24px;
    height: 24px;
    position: relative;
    z-index: 1;
    margin-right: 8px;
    color: var(--text);
}

.button .icon svg {
    width: 96px;
    height: 96px;
    display: block;
    position: absolute;
    left: -36px;
    top: -36px;
    will-change: transform;
    fill: var(--icon);
    transform: scale(0.25) translateZ(0);
    animation: var(--name, var(--name-top, none)) 2400ms ease forwards;
}

.button .icon svg.bottom {
    --name: var(--name-bottom, none);
}

.button .text span {
    display: inline-block;
    vertical-align: top;
    opacity: var(--span-o, 1);
    transform: translate(var(--span-x, 0), var(--span-y, 0)) rotate(var(--span-r, 0deg)) translateZ(0);
    transition: transform 0.3s ease var(--span-d, 0s), opacity 0.2s linear var(--span-o-d, 0.3s);
}


.button .text span:nth-child(1) {
    --span-delay: 0.4s;
    --span-o-d: 0.325s;
}

.button .text span:nth-child(2) {
    --span-delay: 0.45s;
    --span-o-d: 0.35s;
}

.button .text span:nth-child(3) {
    --span-delay: 0.5s;
    --span-o-d: 0.375s;
}

.button .text span:nth-child(4) {
    --span-delay: 0.55s;
    --span-o-d: 0.4s;
}

.button .text span:nth-child(5) {
    --span-delay: 0.6s;
    --span-o-d: 0.425s;
}

.button .text span:nth-child(6) {
    --span-delay: 0.65s;
    --span-o-d: 0.45s;
}

.button.delete {
    --name-top: trash-top;
    --name-bottom: trash-bottom;
    --name-text: text;
    --span-x: -8px;
    --span-y: 8px;
    --span-r: -40deg;
    --span-o: 0;
}

.button.delete .text span {
    --span-o-d: 1s;
    --span-d: var(--span-delay);
}

.button .text {
    animation: var(--name-text, none) 2400ms ease forwards;
}

/* Animations */
@keyframes trash-bottom {

    25%,
    32% {
        transform: translate(32px, 19px) scale(1) translateZ(0);
    }

    70%,
    80% {
        transform: translate(32px, 0) scale(0.25) translateZ(0);
    }

    90% {
        transform: translateX(-2px) scale(0.25) translateZ(0);
    }

    100% {
        transform: scale(0.25) translateZ(0);
    }
}

@keyframes trash-top {

    25%,
    32% {
        transform: translate(38px, 4px) scale(1) rotate(-20deg) translateZ(0);
    }

    70%,
    80% {
        transform: translate(32px, 0) scale(0.25) translateZ(0);
    }

    90% {
        transform: translateX(-2px) scale(0.25) translateZ(0);
    }

    100% {
        transform: scale(0.25) translateZ(0);
    }
}

@keyframes text {
    25% {
        transform: translate(-4px, -6px) rotate(-20deg) translateZ(0);
    }

    70% {
        opacity: 1;
        transform: translate(-12px, 48px) rotate(-80deg) translateZ(0);
    }

    71% {
        opacity: 0;
    }

    72%,
    90% {
        opacity: 0;
        transform: translateZ(0);
    }

    100% {
        opacity: 1;
    }
}